@model Dog

<div class="bg-image"></div>


<h2 class="heading">Edit Dog # @Model.DogID</h2>

@{
    var base64 = Convert.ToBase64String(Model.Picture);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

<div class="heading form-div">
@using (Html.BeginForm("UpdateDogToDatabase", "Dog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input asp-for="DogID" type="hidden" value="@Model.DogID" />

    <label asp-for="Name" class="control-label">Name</label>
    <input type="text" name="Name" class="form-control" value="@Model.Name" required />

    <label asp-for="Amount" class="control-label">Amount of Water Dispensed (in cups)</label>
    <input type="number" step="0.25" name="Amount" class="form-control" value="@Model.Amount" />

    <label asp-for="TimeInterval" class="control-label">Minimum Time Interval (in minutes)</label>
    <input type="number" step="1" name="TimeInterval" class="form-control" value="@Model.TimeInterval" />

    <div class="row">
        <label asp-for="Picture" class="control-label" style="margin-bottom: 10px">Keep Current Photo or Upload New Photo:</label>
        <div class="form-group col-md-6">
            @*<div class="image-preview-container">*@
            <img src="@imgSrc" id="preview" />
            @*<label asp-for="Picture">Upload Image</label>*@
            <input type="file" class="form-control" name="Picture" accept="image/*" onchange="previewImage(event)" value="@Model.Picture" />
            @*</div>*@
        </div>
    </div>

    <input type="submit" name="upload" value="Update" class="update-style" style="margin-top: 10px; margin-left: 0" />
}
</div>


<style>
    .bg-image {
        background-image: url("/uploaded/water-freepik.jpg");
        height: 100vh;
        width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(8px);
        -webkit-filter: blur(5px);
        position: fixed;
        padding: 0;
        margin-left: -13.5px;
        margin-top: 40px;
    }
    img {
        --color: #FA6900; /* the color of the border */
        --border: 10px; /* the thickness of the border */
        border-radius: 50%;
        border: /*var(--offset)*/ solid #0000;
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
</style>
