@model Dog

@{
    var base64 = Convert.ToBase64String(Model.Picture);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}


<h3 class="display-5">Dog #@Model.DogID's Settings</h3>

<table class="table">
    <tr>
        <th>#</th>
        <th></th>
        <th>Name</th>
        <th>Amount of Water Dispensed</th>
        <th>Time Interval</th>
    </tr>
    <tr>
        <td>@Model.DogID</td>
        <td><img src="@imgSrc" /></td>
        <td>@Model.Name</td>
        <td>@Model.Amount cup(s)</td>
        <td>@Model.TimeInterval minutes</td>
    </tr>
</table>


<div class="update-style" style="display: block">
    <a href="/Dog/EditDog/@Model.DogID">Update this Dog's Settings</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteDog", "Dog", "Post"))
    {
        <input type="hidden" asp-for="DogID" value="@Model.DogID" />
        <input type="submit" class="delete-style" onclick="return confirm('Are you sure you want to delete this dog?')" value="Delete This Dog" />
    }
</div>


<style>
    .bg-image {
        background-image: url("uploaded/water-freepik.jpg");
        height: 100vh;
        width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(8px);
        -webkit-filter: blur(5px);
        position: fixed;
        padding: 0;
        margin-left: -13.5px;
        margin-top: 40px;
    }

    img {
        --color: #FA6900; /* the color of the border */
        --border: 10px; /* the thickness of the border */
        border-radius: 50%;
        border: /*var(--offset)*/ solid #0000;
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
</style>