@model Dog

@{
    var base64 = Convert.ToBase64String(Model.Picture);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}


<div class="bg-image"></div>
<div>
    <h3 class="display-5 heading">Dog #@Model.DogID's Settings</h3>

    <table class="table @(Model.DogID)">
        <tr>
            <th>#</th>
            <th></th>
            <th>Name</th>
            <th>Amount Dispensed</th>
            <th>Time Interval</th>
        </tr>

        <tr class="row-bg">
            <td>@Model.DogID</td>
            <td style="padding: 30px 20px 30px 30px"><img src="@imgSrc" /></td>
            <td>@Model.Name</td>
            <td>@Model.Amount cup(s)</td>
            <td>@Model.TimeInterval minutes</td>
        </tr>
    </table>


    <div style="display: block; margin-top: 100px" class="heading">
        @Html.ActionLink("Update This Dog's Settings", "EditDog", "Dog", new { id = Model.DogID}, new { @class = "update-style"} )
        @*<button class="update-style"><a href=/Dog/ViewDog/@Model.DogID>Update this Dog's Settings</a></button>*@
    </div>

    <div style="display: bloc; margin-top: 25px" class="heading">

        @using (Html.BeginForm("DeleteDog", "Dog", "Post"))
        {
            <input type="hidden" asp-for="DogID" value="@Model.DogID" />
            <input type="submit" class="delete-style" onclick="return confirm('Are you sure you want to delete this dog?')" value="Delete This Dog" />
        }
    </div>
</div>


@switch (Model.DogID)
{
    case 1:
        <style>
            .row-bg {
                background-color: #FA6900CC;
                border-width: 20px;
                border: #FA6900;
                border-radius: 10%;
            }
        </style>
        break;
    case 2:
        <style>
            .row-bg {
                background-color: #0B486BCC;
                border-width: 20px;
                border: #0B486B;
                border-radius: 10%;
            }
        </style>
        break;
    case 3:
        <style>
            .row-bg {
                background-color: #BD1550CC;
                border-width: 20px;
                border: #BD1550;
                border-radius: 10%;
            }
        </style>
        break;
    case 4:
        <style>
            .row-bg {
                background-color: #FEDD00CC;
                border-width: 20px;
                border: #FEDD00;
                border-radius: 10%;
            }
        </style>
        break;
    case 5:
        <style>
            .row-bg {
                background-color: #008080CC;
                border-width: 20px;
                border: #008080;
                border-radius: 10%;
            }
        </style>
        break;
    default:
        <style>
            .default {
                background-color: #ffffff;
            }
        </style>
        break;
}


<style>
    .bg-image {
        background-image: url("/uploaded/water-freepik.jpg");
        height: 100vh;
        width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(8px);
        -webkit-filter: blur(5px);
        position: fixed;
        padding: 0;
        margin-left: -13.5px;
        margin-top: 40px;
    }

    img {
        --color: #FA6900; /* the color of the border */
        --border: 10px; /* the thickness of the border */
        border-radius: 50%;
        border: /*var(--offset)*/ solid #0000;
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    td:first-child {
        padding: 0 20px 0 40px;
        border-radius: 20px 0 0 20px;
    }

    td:last-child {
        padding: 0 30px 0 0;
        border-radius: 0 20px 20px 0;
    }
</style>